body {
    background-color: rgb(236, 244, 249);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(aboutus1.jpg);
    background-size: cover;

}

.navbar {
    background-color: rgb(0, 0, 0) !important;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-brand {
    color: white !important;
    font-weight: bold;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    padding: 14px 16px;
    transition: 0.1s ease ease-in-out;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-link:hover {
    background-color: rgb(122, 172, 207);
    color: black !important;
}
.logo {
    width: 50px;
    margin-left: 0%;
    border-radius: 10px;
}
.search {
    margin-top: 20px;
    margin-left: 500px;
    box-shadow: none;
}

#ayush1 {
    margin-left: 5px;
}

button {
    background-color: rgb(122, 172, 207);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
}

.profil {
    height: 70px;
    width: 70px;
    border-radius: 7px;
    padding: 10px;
}

.head {
    text-align: center;
    margin: 20px 0;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0) !important;
    height: 70px;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top:200px;
  }

.content-left, .content-right {
    display: flex;
    flex-direction: column;
}

.social-icon {
    margin-right: 40px;
    height: 30px;
    width: 30px;
    border-radius: 7px;
}
.vvp1{
    background-color: rgb(187, 220, 225);
}
.vvp2{
    background-color: rgb(124, 199, 208);
}
